.terraform/
*.tfplan
tfplan
tfplan.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.
.terraform.lock.hcl


# Local secret environment files
.env
*.env

# Binaries
kubectl.exe


