.terraform/
*.tfplan
tfplan
tfplan.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.
.terraform.lock.hcl

# Node-specific setup scripts
scripts/nodes/

# Local secret environment files
.env
*.env


